In [3]:
d = pd.read_csv('https://raw.githubusercontent.com/zhuoranliu22/CASA0006/main/adult.csv',header = None)

In [2]:
import pandas as pd

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [4]:
d.value_counts()

0   1                  2       3              4   5                    6                   7               8       9        10  11  12  13              14
25   Private           195994   1st-4th       2    Never-married        Priv-house-serv     Not-in-family   White   Female  0   0   40   Guatemala       <=50K    3
23   Private           240137   5th-6th       3    Never-married        Handlers-cleaners   Not-in-family   White   Male    0   0   55   Mexico          <=50K    2
38   Private           207202   HS-grad       9    Married-civ-spouse   Machine-op-inspct   Husband         White   Male    0   0   48   United-States   >50K     2
30   Private           144593   HS-grad       9    Never-married        Other-service       Not-in-family   Black   Male    0   0   40   ?               <=50K    2
49   Self-emp-not-inc  43479    Some-college  10   Married-civ-spouse   Craft-repair        Husband         White   Male    0   0   40   United-States   <=50K    2
                                                                                                                                                                 ..
31   Private           128567   HS-grad       9    Married-civ-spouse   Craft-repair        Husband         White   Male    0   0   40   United-States   <=50K    1
                       128493   HS-grad       9    Divorced             Other-service       Not-in-family   White   Female  0   0   25   United-States   <=50K    1
                       128220   7th-8th       4    Widowed              Adm-clerical        Not-in-family   White   Female  0   0   35   United-States   <=50K    1
                       127610   Bachelors     13   Married-civ-spouse   Prof-specialty      Wife            White   Female  0   0   40   United-States   >50K     1
90   Self-emp-not-inc  282095   Some-college  10   Married-civ-spouse   Farming-fishing     Husband         White   Male    0   0   40   United-States   <=50K    1
Length: 32537, dtype: int64